/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  background-color: var(--color-background);

  transition: all 0.5s;
}

/* VARIABLES */
:root {
  --color-primary: #3b5bdb;
  --color-background: #e0e4e6;
  --color-text-light: #f7f7f7;
  --color-background-main: #f2f6f8;
  --font-regular-color: #303438;
  --font-unfocused-color: #868e95;
  --padding-standard: 1rem 1.5rem 2rem 1.5rem;
  --color-shadow: #bec0c3;
  --color-toggle-bar: #7b8085;
  --color-toggle-circle: #e4e6e8;
}

:root[data-theme="dark"] {
  --color-primary: #4c68db;
  --color-background: #0f1419;
  --color-background-main: #151b22;
  --font-regular-color: #e6e9ec;
  --font-unfocused-color: #cad4de;
  --color-text-light: #f7f7f7;
  --color-shadow: rgba(0, 0, 0, 0.6);
  --color-toggle-bar: #2c3440;
  --color-toggle-circle: #e6e9ec;
}

/* APP */

.toggle-bar {
  background-color: var(--color-toggle-bar);
  height: 2.5rem;
  width: 5rem;
  position: absolute;
  top: -5rem;
  right: 2rem;
  border-radius: 5rem;
  box-shadow: 0 0 5rem var(--color-shadow);
}

.toggle-circle {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--color-toggle-circle);
  border-radius: 50%;
  transition: all 0.6s;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  font-size: 1.6rem;
  max-width: 50rem;

  border-radius: 10px;
  margin: 10rem auto;

  background-color: var(--color-background-main);
  box-shadow: 0 0 5rem var(--color-shadow);
}

.top-div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

.top-div-upper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.check-icon {
  font-size: 3.5rem;
}

.top-text {
  font-size: 3rem;
  font-weight: 600;
}

.top-date {
  font-size: 1.5rem;
}

.input-div {
  padding: var(--padding-standard);
  border-bottom: 1px solid var(--font-regular-color);
}

.task-form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.input-field {
  height: 3.5rem;
  width: 90%;
  padding-left: 1rem;
  font-size: 1.6rem;
  outline: none;
  border: 1px solid var(--color-shadow);
  border-radius: 5px;
  transition: all 0.7s;
}

.input-field:focus {
  border: 1px solid var(--font-regular-color);
}

.form-btn {
  width: 10%;
  height: 3.5rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-background-main);
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.sorting-div {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  align-items: center;
  padding: var(--padding-standard);
  border-bottom: 1px solid var(--font-regular-color);
}

.sorting-btn {
  color: var(--font-unfocused-color);
  font-weight: 500;
  cursor: pointer;
}

.sorting-btn-active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.tasks-div {
  height: 20rem;
  min-height: 15rem;
  padding: var(--padding-standard);
  border-bottom: 1px solid var(--font-regular-color);
  position: relative;
}

.empty-tasks-div {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--font-unfocused-color);
}

.empty-icon {
  font-size: 6rem;
}

.empty-text {
  font-size: 2.5rem;
}

.tasks-div .inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
}

.tasks-div .inner::-webkit-scrollbar {
  display: none;
}

.checkbox {
  height: 1.8rem;
  width: 1.8rem;
}

.checkbox:checked {
  accent-color: var(--color-primary);
}

.task {
  display: flex;
  gap: 1rem;
  font-size: 1.7rem;
}

.task-text {
  color: var(--font-regular-color);
}

.completed p {
  text-decoration-line: line-through;
  color: var(--font-unfocused-color);
}

.information-div {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-standard);
  font-size: 1.5rem;
  color: var(--font-unfocused-color);
}

.clear-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}
